.nav{
  position: sticky;
  top: 0;
  z-index: 2;
}
.shop_nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 40px;
    max-width: 1545px;
    background-color: rgb(255, 255, 255);
    min-width: 650px;
    color: rgb(0, 0, 0);
}
.shop_nav ul{
  display: flex;
  list-style: none;
  gap: 6% ;
  width: 60%;
  align-items: center;
  justify-content:center ;
}
.shop_nav ul li{
  font-size: 13px;
}
.shoplogo h1{
  font-size: medium;
}
.shoplogo p{
  font-size: 13px;
  font-weight: 500;
}
.shoplogo{
  display: flex;
  justify-content:center ;
  align-items: center;
  gap: 4px;
  width: 20%;
}
.shop_nav a{
  text-decoration: none; 
  color: black;

}
.shop_nav p{
  font-size: 13px;
  font-weight: 500;
  color: black;
}
.shop_nav{
  position: sticky;
  z-index: 1;
  top: 0;
}
.shop1{
  background-image: url('../../assets/img_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.shop1 h1{
  font-size :xxx-large;
  font-weight: 600;
}
.shop1 p{
  font-weight: 600;
}
.liked{
  
  color: red;
}
.shop_nav ul li button{
  border: none;
  background-color: white;
}