


.Mcard ul{
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-evenly;
}
.Mcard ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.53);
    padding-top: 10px;
    width: 250px;
    


}

.Mcard ul li img{
    width: 200px;
    height: 250px;
    border-radius: 25px;
    margin-top: none;
    padding: none;
}
.Mcard ul li h1{
    font-size: 12px;
    color: rgb(125, 87, 34);
    text-align: center;
}
.Mcard ul li p{
    font-size: 12px;
    width: 200px;
    text-align: center;

}
.h1mens{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btns button{
    padding:5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(253, 253, 253);
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 3px rgb(109, 109, 109);
}
.btns button:hover{
    color:aliceblue;
    background:linear-gradient(rgba(130, 0, 0, 0.521),rgb(130, 0, 0),rgb(137, 2, 2));
}
.Mcard ul li:hover{
    background:linear-gradient(rgb(255, 237, 240),rgb(255, 255, 255),rgb(255, 237, 240));
}


.listCnt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  list-style: none;
  gap: 40px;
}
.listCnt li{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 5px  rgb(77, 75, 75);
    padding: 10px;
    font-weight: 600;
    font-size: large;
    height: 500px;
}
.listCnt li button{
    width:60%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: red;
    border: none;
    padding: 5px 5px;
    border-radius: 25px;
}
.groh1{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.btn{
    background-color:aliceblue;
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 10px;
    margin-bottom: 2%;
}
.itembuy{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 10%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}
.itembuy img{
    width: 400px;
    border-radius: 10px;
}
.itembuy h1{
    padding-top: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    padding-top: 20px;
}
.form input{
    padding: 5px 20px ;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(55, 53, 53);
}
.itemS{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BTN{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.BTN button{
    padding: 5px 25px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(55, 53, 53);
}