.gro_1 {
  background-image: url('C:\Users\DELL\Desktop\Projects\camelQ\Project_Assignment\src\assets\Gemini_Generated_Image_ixosl4ixosl4ixos.png');
  height: 50vh;
  background-position: center;
}
.nav{
  display: flex;
  justify-content: space-around;
    align-items:center;
    height: 40px;
    background-color: rgb(255, 255, 255);
    min-width: 650px;
    max-width: 1545px;
    color: rgb(0, 0, 0);
}
.gro_1 h1{
  color: white;
  font-size: 55px;
  text-shadow: 1px 1px 3px black;
}
.nav h1{
  font-size: medium;
}
.nav ul li{
  font-size: 13px;
  font-weight: 500;
  
}
.nav ul li button{
  border: none;
  background-color: white;
  padding: 0px 40px ;
}
.nav ul{
  display: flex;
  width: 60%;
  list-style: none;
  gap: 5%;
  justify-content: center;
}
.nav a{
  text-decoration: none;
}
.nav a h1{
  font-size: 14px;
  color: black;
}
.gro_1{
  color: white;
  text-shadow: 1px 1px 4px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gro_1 p{
  text-align: center;
}
.nav{
  position: sticky;
  z-index: 1;
  top: 0;
}
