.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    width: 400px;
    height: 60vh;
    border:none;
    border-radius: 65px;
    background-color: rgba(250, 235, 215, 0.393);
    box-shadow: 1px 1px 6px black;
    
}
.sign input {
    width: 250px;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    border-color: rgb(58, 75, 66);
    box-shadow: 1px 1px 6px rgb(70, 67, 67);
    color: black;
    
}
.signcnt{
    min-width: 650px;
    max-width: 1545px;
    height: 100vh;
    background: url('C:\Users\DELL\Desktop\Projects\camelQ\Project_Assignment\src\assets\img2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100vw;
    display: flex;
    flex-direction: column;

}
.sign button{
    padding: 5px 13px;
    border-radius: 25px;
    background-color: rgb(108, 100, 100);
    color: white;
    border: none;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}
.btn{
    display: flex;
    gap: 25px;
    margin-top: 20px;


}
.sign a{
    text-decoration: none;
    color: white;
}
.main a{
    color: black;
    font-size: medium;
    margin-left: 20px;
    font-weight: 600;

}